html, body {
    background-color: #615f5e;
    margin: 0;
    padding: 0;
    display: block;
}



#container {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    

}


.btn-sm {
    background-color: white;
    border-radius: 10px;
    color: black;
    border: white; 
    height: 100px;
    width: 50%;
    font-size: 20px;
    margin: 25px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}

@media (max-width: 700px) {
    .btn-sm {
        width: 85%;
    }
}


.btn-sm:hover{
    background-color: orange;
}


h4 {
    color: white;
    margin: 20px;
}

h5, h6 {
    color: white; 
    margin: 20px;
}

a {
    color: white;
}

a:hover{
    color: orange;
    text-decoration: none;
}

#todolist {
    background-color:cornflowerblue;
    width: 30%;
    margin: 25px;
    padding: 25px;
    border-radius: 10px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 2px solid lightgray;
}

@media (max-width: 599px) {
    #todolist {
        width: 85%;
    }
}



.listitem {
    font-size: 20px;
    padding: 10px;
    color: white; 
    margin: 20px;
    border-bottom: 1px solid lightgray;
}

#create-todo {
    background-color: white;
    color: black;
    border: none;
    border-radius: 7px;
    margin-top: 10px;
}

#create-todo:hover {
    background-color: #107FBB;
    color: white;
    border: none;
}


#add-todo {
    background-color: white;
    color: black;
    border: none;
    border-radius: 7px;
    margin-top: 10px;
    height: 36px;

}

#add-todo:hover {
    background-color: #107FBB;
    color: white;
    border: none;
}

.btn-primary {
    margin: 20px;
}

