html, body {
    background-color: #615f5e;
    margin: 0;
    padding: 0;
    display: block;
}



#container {
    display: flex;
    flex-direction: column;
    

}


.btn-sm {
    background-color: white;
    border-radius: 10px;
    color: black;
    border: white; 
    height: 100px;
    width: 50%;
    font-size: 20px;
    margin: 25px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}

.btn-sm:hover{
    background-color: orange;
}

@media (max-width: 599px) {
    .btn-sm {
        width: 85%;
    }
}


h5 {
    color: white; 
    margin: 20px;
}

a {
    color: white;
}

a:hover{
    color: orange;
    text-decoration: none;
}

#todolist {
    margin: 25px;
    float: right;
    display: block;
    top: 25%;
    width: 200px;
    height: 200px;
    background-color: aqua;
}