{% extends "housemanager/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'housemanager/baby.js' %}"></script>
{% endblock %}


{% block body %}

<ul>
<li>
    {% for baby in baby %}
    <h5><a href="{% url 'baby_name' baby.baby_name %}">{{baby.baby_name}}</a></h5>
    {% endfor %}
</li>
</ul>


<div id="baby-todo">
    {% for baby_todo in baby_todo %}

        <h5>Baby to-do's:</h5> 
        <h5> - {{baby_todo.todo}}</h5>

    {% endfor %}

    {% if not baby_todo %}
        <h5>No baby to-do's</h5>
    {% endif %}
</div>

<form id="baby_form" action="{% url 'baby' %}" method="POST">
    <input type="text" id="baby_name" name="baby_name" class="form-control" placeholder="Baby name">
    <input type="date" id="due_date" name="due_date" class="form-control" placeholder="Due date">
    <input type="submit" class="btn-primary" value="Add baby" id="submit_baby">
</form>




{% endblock %}

