{% extends "housemanager/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'housemanager/baby_name.js' %}"></script>
{% endblock %}


{% block body %}

<div id="count-div">
    
    <h5>BABY COUNTDOWN:</h5>
    <p class="countdown" id="countdown"></p>
    
    <button id="duedate" class="btn-primary">Change due date</button>
</div>

<div id="note-div">
    <label for="note"><h6>Add note:</h5></label>
    <textarea class="form-control" id="note"></textarea>

    <button class="btn-primary" id="note-but">Submit</button>
</div>

<div>
    <ul id="baby-notes">
        {% for notes in notes%}
        <li>
            <h5>{{notes.note}} by {{notes.user_note | title}}</h5>
            <h6></h6>
        </li>

        {% endfor %}
    </ul>
</div>

{% endblock %}