{% extends "housemanager/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'housemanager/baby_name.js' %}"></script>
{% endblock %}


{% block body %}

<h3 style="text-decoration: underline; text-underline-offset: 5px;" id="name">{{baby.baby_name}}</h3>

<div id="count-div">
    
    <h5>BABY COUNTDOWN:</h5>
    <p class="countdown" id="countdown"></p>
    
</div>

<div id="note-div">
    <label for="note"><h6>Add note:</h5></label>
    <textarea class="form-control" id="note"></textarea>

    <button class="btn-primary" id="note-but">Submit</button>
</div>

<div>
    <ul id="baby-notes">
        {% for notes in notes%}
        <li id={{notes.id}}>
            <h5>{{notes.note}} by {{notes.user_note | title}}</h5>
            <button data-id={{notes.id}} id="remove-note" class="btn btn-danger">Remove note</button>
        </li>

        {% endfor %}
    </ul>
</div>

{% endblock %}