{% extends "housemanager/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'housemanager/baby.js' %}"></script>
{% endblock %}


{% block body %}



<input type="text" id="add_due_form" class="form-control" placeholder="Enter due date for baby countdown">
<button id="add_due" class="btn-primary">Add baby due date</button>
<label style="color: white; margin: 10px"  for="add_due_form">Format: mmm, dd, yyyy, time. Example: Jun 15, 2021, 12:00:00"</label>


<div id="count-div">
    
    <h5>BABY COUNTDOWN:</h5>
    <p id="countdown"></p>
    
    <button id="duedate" class="btn-primary">Change due date</button>
</div>



<div id="baby-todo">
    {% for baby_todo in baby_todo %}

        <h5>Baby to-do's:</h5> 
        <h5> - {{baby_todo.todo}}</h5>

    {% endfor %}

    {% if not baby_todo %}
        <h5>No baby to-do's</h5>
    {% endif %}
</div>

<div id="note-div">
    <label for="note"><h6>Add note:</h5></label>
    <textarea class="form-control" id="note"></textarea>

    <button class="btn-primary" id="note-but">Submit</button>
</div>

<div>
    <ul id="baby-notes">
        {% for notes in notes%}
        <li>
            <h5>{{notes.note}} by {{notes.user_note | title}}</h5>
            <h6></h6>
        </li>

        {% endfor %}
    </ul>
</div>

{% endblock %}

