{% extends "housemanager/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'housemanager/bills.js' %}"></script>
{% endblock %}


{% block body %}


<ul id="bills">
    {% for bills in page_obj %}
    <li class="listitem" data-id={{bills.id}}>
        <h5>{{bills.bill_name | title}}</h5>
        <h5>Amount: {{bills.bill_amount}}</h5>
        <h5>Due on: {{bills.bill_due}}</h5>
        <button data-id={{bills.id}} class="btn-primary" id="bill-paid">Bill paid</button>
    </li>
    {% endfor %}
</ul>


<button class="btn btn-primary" id="bill-button">Add Bill</button>

<div class="pagination">
    <span class="step-links">        

        {% if page_obj.has_previous %}
           <a href="?page=1">&laquo; first</a></li>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a></li>
        {% endif %}
      
        <span class="current">
           <h6>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</h6>
        </span>
   
        {% if page_obj.has_next %}
          <a  href="?page={{ page_obj.next_page_number }}">next</a></li>
           <a  href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
        {% endif %}
   
</div>
</span>







{% endblock %}