{% extends "housemanager/layout.html" %}
{% load static %}
{% block script %}
    <script src="{% static 'housemanager/dogs.js' %}"></script>
{% endblock %}

{% block body %}
<div id="dogs">
    <div id="dog_list">
        {% for dogs in dogs %}
            <h5><a href="{% url 'dog_name' dogs.dog_name %}">{{dogs.dog_name}}</a></h5>
        {% endfor %}
    </div>

    <button id="add_dog" class="btn-primary btn-lg">Add dog</button>

    <button id="dog_but" class="btn-primary btn-lg">Add dog</button>

</div>   


     
  
     
  

{% endblock %}