{% extends "housemanager/layout.html" %}
{% load static %}



{% block body %}

    <div id="container" class="index-links">
        <a class="btn btn-primary btn-sm" href="{% url 'dogs' %}" role="button">Dogs</a>
        <a class="btn btn-primary btn-sm" href="{% url 'baby' %}" role="button">Baby</a></button>
        <a class="btn btn-primary btn-sm" href="{% url 'bills' %}" role="button">Bills</a></button>
    </div>        
     
    <div id="todolist">
       
        </div>
    
    
    


   
    

{% endblock %}