
  
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>House Manager</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'housemanager/styles.css' %}" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        {% block script %}
        {% endblock %}
    </head>

    <body>
        
        <nav id="topnav" class="navbar navbar-expand-lg">
            <a class="nav-link active" href="{% url 'index' %}">House Manager</a>
        
            <div>
              <ul class="nav">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-item" href="{{ user.username }}"></a>
                    </li>
                {% endif %}
                
                {% if user.is_authenticated %}
                    
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                    
                
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                   
                {% endif %}
              </ul>
              </div>
              </nav>
                {% block body %}
                {% endblock %}
        
       
    </body>
</html>
