{% extends "housemanager/layout.html" %}
{% load static %}
{% block script%}
    <script src="{% static 'housemanager/todo.js' %}"></script>

{% endblock %}
{% block body %}

    <div id="todolist">

        <ul id="ullist">
            {% for todo in todo%}
            <li id="listitem" class="listitem">            
                    {{todo.todo}}: 
                    {{todo.todo_date}}            
            </li>
            {% endfor%}
        </ul>

        <button class="btn btn-primary" id="create-todo">
            New todo
        </button>

        <button class="btn-primary" id="add-todo">
            Submit
        </button>


    </div>

    

{% endblock %}